.slider_wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
}
.slider_wrapper input {
  width: 150px;
  height: 20px;
  margin: 0;
  transform-origin: 75px 75px;  
}
.tickmarks {
  display: inline;
  text-align: center;
}
option {
  display: inline;
  padding-right: 280%;
  text-align: left;
}