.slider_wrapper {
  display: inline-block;
  width: 100%;
  height: 50px;
  padding: 0;
  /* position: relative;
  z-index: 3; */
}
.slider_wrapper input {
  width: 90%;
  height: 5px;
  margin: 0;
  transform-origin: 75px 75px;  
}
#tickmarks {
  display: inline;
  text-align: center;
}
option {
  display: inline;
  text-align: center;
}