body {
    margin: 0; 
    padding: 0
}
/* .wrapperWorkSpase {
  position: absolute;
} */

 .canvas {
    height: 100%; 
    width: 100%;
    display: block;
    overflow: hidden;
 } 

.container-fluid {
    display: flex;
    flex-direction: column;
  }
  .inputTypeFile {
    display: none;
  }
